<!-- Top menu -->
<nav class="navbar" role="navigation">
   <div class="container">
     <div class="navbar-header">
       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
         <span class="sr-only">Toggle navigation</span>
	 <span class="icon-bar"></span>
	 <span class="icon-bar"></span>
	 <span class="icon-bar"></span>
       </button>
       <a class="navbar-brand" href="index.html">Maryjka.pl</a>
     </div>

     <!-- Collect the nav links, forms, and other content for toggling -->
     <div class="collapse navbar-collapse" id="top-navbar-1">
       <ul class="nav navbar-nav navbar-right">
	 <li class="<%= active_class(root_path) %>"><%= link_to root_path do %>
	   <i class="fa fa-home"></i><br>START
	   <% end %>
	 </li>
	 <li class="<%= active_class(albums_path) %>"><%= link_to albums_path do %>
	   <i class="fa fa-camera"></i><br>ALBUMY
	   <% end %>
	 </li>
	 <li class="<%= active_class(about_path) %>"><%= link_to about_path do %>
	   <i class="fa fa-user"></i><br>O MNIE
	   <% end %>
	 </li>
	 <li class="<%=active_class(contact_path) %>"><%= link_to contact_path do %>
	   <i class="fa fa-envelope"></i><br>KONTAKT
	   <% end %>
	 </li>
       </ul>
     </div>
   </div>
</nav>
